@import "function";


html,body {
    &.active {
        // overflow: hidden;
        width: 100%;height: 100%;
    }

}

// ====================================default css====================================
body {
    // a link hover effect
    a.a_link {@include transition(.15s);&:hover { color: $color-100; }}
    a.btn {display: block;}
    // icon
    .ico {
        display: inline-block; 
        vertical-align: middle;
        // dots
        &.checkbox {
            width: 20px; height: 20px;
            border: 2px solid #e5e5e5;
        }
    }
    .blur {
        @include transition(filter .3s);
        filter: blur(5px);
    }

    /*  btn_link  */

    .arrow_01 {
        display: block;
        margin-left: 10px;
        width: 8px; height: 8px;
        border-right: 1px solid $color-100; border-top: 1px solid $color-100;
        transform: translateX(-30px) rotate(45deg); margin-bottom: 2px;
    }
    .arrow_02 {
        display: block;
        margin-left: 10px;
        width: 8px; height: 8px;
        border-right: 1px solid $color-100; border-top: 1px solid $color-100;
        transform: rotate(45deg);
    }
}
// ====================================default css====================================


// ==================================== header, footer ====================================
body {
    #header{
        position: fixed; left: 0; top: 0; z-index: 9998;
        width: 100%;
        #header_wrap {
            display: flex; align-items: center;
            padding: 0 3%;
            font-size: 15px;
            height: 70px;
            -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
            background-color: rgba(255, 255, 255, 0.5);
            #header_left {
            }

            #header_center {
                margin-left: auto;
                display: flex;
                gap: 45px;
                > li {
                    > a {

                    }
                }
            }
            

            #header_right {
                margin-left: 57px;
                display: flex;
                gap: 40px;
            }
        
            // header_ham
            #header_ham {
                display: none;
                position: relative; z-index: 9999;
                width: 38px; height: 26px;
                cursor: pointer;
                &.active {
                    span {
                        &:nth-of-type(1) { top: calc(50% - 1px); transform: rotate(45deg); }
                        &:nth-of-type(2) { opacity: 0; transform: translateX(100%); }
                        &:nth-of-type(3) { bottom: calc(50% - 1px); transform: rotate(-45deg); }
                    }
                }
                span {
                    // 햄벅
                    position: absolute; left: 0; width: 100%; border-bottom: 2px solid #000;
                    @include transition(all .3s);
                    &:nth-of-type(1) { top: 0; }
                    &:nth-of-type(2) { top: calc(50% - 1px); }
                    &:nth-of-type(3) { bottom: 0; }
                }
            }
            #header_full {
                @include transition(left .3s);
                position: fixed; left: 100%; top: 0; z-index: 9998; 
                display: flex; justify-content: flex-end;
                width: 100%; height: 100vh;
                -webkit-backdrop-filter: blur(25px);
                backdrop-filter: blur(25px);
                background-color: rgba(255, 255, 255, 0.5);

                &.active {left: 0;}
                article {
                    position: relative;
                    width: 60%; height: 100%;
                    background-color: #fff;
                    nav {
                        &.status {
                            position: relative;
                            height: 100px;
                            display: flex; align-items: center; justify-content: flex-end; 
                            padding-right: calc(70px + 41px);
                            a {
                                display: flex; align-items: center;
                                font-size: 24px;
                                line-height: 1.5;
                                letter-spacing: -0.6px;
                                color: #000;
                                img {margin-right: 15px;}
                            }
                        }
                        &.menu {
                            padding: 10% 15%;
                            ul {
                                &.depth_01 {
                                    li {
                                        &:last-child a{margin: 0;}
                                        a {
                                            display: inline-block;
                                            font-size: 28px;
                                            line-height: 1.5;
                                            letter-spacing: -0.7px;
                                            margin-bottom: 20px;
                                        }
                                    }
                                }
                                &.user_depth {
                                    margin-top: 50px;
                                    li {
                                        &:last-child a{margin: 0;}
                                        a {
                                            display: inline-block;
                                            color: #999;
                                            font-size: 24px;
                                            line-height: 1.5;
                                            letter-spacing: -0.6px;
                                            margin-bottom: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #footer {
        margin-top: 150px;
        background: #000;
        article {
            padding: 100px 0 130px;
            max-width: 1546px; margin: 0 auto;
            > div {
                &.info_01 {
                    display: flex; justify-content: space-between;
                    h2 {
                        font-size: 44px;
                        font-weight: bold;
                        line-height: 1.36;
                        letter-spacing: -0.88px;
                        color: #fff;
                    }

                    form {
                        height: 55px;
                        > input {height: 100%;border: none;color: #fff;}
                        input[type=email] {
                            padding: 0 20px;
                            background-color: #111;
                            font-size: 18px;
                            line-height: 1.5;
                            letter-spacing: -0.36px;
                        }
                        input[type=submit] {
                            background-color: #222;
                            padding: 0 30px;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 1.5;
                            letter-spacing: -0.4px;
                        }
                    }
                    ul {
                        margin-top: 40px;
                        color: #fff;
                        li {
                            display: flex; flex-wrap: wrap; gap: 10px 0;
                            a {
                                @include hidaFont_16;
                                &:nth-child(odd) {width: 30%;}
                                &:nth-child(even) {width: 70%;}
                                font-weight: bold;
                                line-height: 1.5;
                                letter-spacing: -0.32px;
                                color: #fff;
                            }
                        }
                    }

                }
                &.info_02 {
                    margin-top: 50px;
                    nav {
                        &:first-child {
                            a {
                                @include hidaFont_16; font-weight: bold;
                                color: #fff;
                            }
                        }
                        &:last-child {
                            margin-top: 16px;
                            display: flex;  gap: 20px;
                            p {
                                @include hidaFont_14;
                                position: relative;
                                color: #666;
                                &:last-child {&::after{display: none;}}
                                &::after {
                                    content: '';
                                    position: absolute; right: -10px; top: 50%; transform: translateY(-50%);
                                    width: 1px; height: 14px;
                                    background-color: #3a3a3a;
                                }
                            }
                        }
                    }
                }
                &.bar {
                    width: 100%; height: 1px;
                    background-color: #666;
                    margin: 30px 0;
                }
                &.info_03 {
                    display: flex; justify-content: space-between;
                    > p {
                        @include hidaFont_14;
                        color: #666;
                    }
                    .nice {
                        position: relative;
                        @include hidaFont_14;
                        appearance: none;
                        width: 170px;
                        padding-bottom: 7px;
                        color: #fff;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid #fff;
                        .list {width: 100%;}
                        .option {
                            background-color: #000;
                            border: none;
                            border-bottom: 1px solid #fff;
                            color: #fff;
                            padding: 10px 0;
                        }
                        &::after {
                            border: none;
                            content: '';
                            width: 11px; height: 11px;
                            position: absolute; right: 0; bottom: 50%;
                            background: url('../images/common/ico_plus_01.svg')no-repeat center/contain;
                        }
                    }


                }
            }

        }
    }
}
// ==================================== header, footer ====================================




// ==================================== page css ====================================
// ==================================== page css ====================================
// ==================================== page css ====================================
@mixin paddingLeft_10 {
    padding-left: 10.5%;
}


body {

    // default popup
    .popup {
        position: fixed; left: 0; top: 0; z-index: 9999;
        width: 100%; height: 100%;
        display: none;
        &.active {display: block}
        article {
            @include fullsize;
            @include flexCenter;
            background-color: rgba($color: #000000, $alpha: .5);
            .form_wrap {
                width: 540px;
                background-color: #fff;
                padding: 30px 50px;
                form {
                    position: relative;
                    #btn_pop_close {
                        cursor: pointer;
                        position: absolute; right: 0;top: 0;
                        &:hover {img {filter: invert(100%);}}
                    }
                }
                h2 {
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.35;
                    letter-spacing: -0.4px;
                    color: #000;
                    margin-bottom: 30px;
                }
            }
        }
        &#popup_cmf {
            .select_wrap {
                display: flex; flex-direction: column; gap: 6px;
                border: 1px solid #E5E5E5;
                padding: 10px;
                max-height: 190px; overflow: auto;
                label {
                    cursor: pointer;
                    p {
                        display: flex; align-items: center;justify-content: space-between;
                        width: 100%;
                        padding: 11px 20px;
                        border: 2px solid #E5E5E5;
                        border-radius: 2px;
                        color: #999;
                        font-size: 15px;
                        line-height: 1.6;
                        letter-spacing: -0.3px;
                    }
                    input[type=radio], img {display: none;}
                    input[type=radio]:checked + p img {display: block;}
                    input[type=radio]:checked + p {border: 2px solid #000; color: #000;}
                }
            }
            .new_library {
                margin-top: 60px;
                
                label {
                    display: block;
                    position: relative;
                    input {
                        width: 100%;
                        padding: 11px 20px;
                        border: 2px solid #E5E5E5;
                        border-radius: 2px;
                        font-size: 15px;
                        line-height: 1.6;
                        letter-spacing: -0.3px;
                        &::placeholder {color: #999;}
                    }
                    img {
                        cursor: pointer;
                        position: absolute; right: 20px; top: 50%; transform: translateY(-50%);
                    }
                    input:focus + img {filter: invert(100%);}
                }
               
            }
            input[type=submit]:disabled {background-color: #E5E5E5;color: #999;}
            
            input[type=submit] {
                @include font-openSans;
                width: 100%;
                margin-top: 50px;
                padding: 13px;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: -0.3px;
                background-color: #000;
                color: #fff;
            }
        }
    }
    // default popup


    main {
        // INDEX MAIN
        &#main_page {
            .ms {
                position: relative;z-index: 3;
                overflow: hidden;
                &.ms_01.swiper-container {
                    .mv_bg, .mv_bg_mo {@include fullsize}
                    .mv_bg_mo {display: none}

                    .swiper-pagination {
                        margin-top: 50px;
                        display: flex; 
                        gap: 4px;
                        .swiper-pagination-bullet {
                            @include transition(all .15s);
                            $bulletWh : 8px;
                            width: $bulletWh; height: $bulletWh; border-radius: 0;
                            background-color: #000;
                            &.swiper-pagination-bullet-active {
                                width: 25px;
                            }
                        }
                    }
                    .swiper-wrapper {
                        height: 100vh;
                        .swiper-slide {
                            position: relative;
                            @include fullsize;
                            display: flex; justify-content: center; flex-direction: column;
                            figcaption {
                                position: absolute; left: 0; top: 50%; transform: translateY(-50%);
                                @include paddingLeft_10;
                                p {
                                    &.text_01 {
                                        @include hidaFont_50;
                                    }
                                    &.text_02 {
                                        margin-top: 15px;
                                        @include hidaFont_16;
                                        color: #666;
                                    }
                                }
                            }

                            .point_xy {
                                position: absolute; left: 0; top: 0;
                                width: 100%; height: 100%;
                                > a {
                                    display: flex; align-items: center;
                                    border-radius: 100%;
                                    position: absolute;
                                    overflow: hidden;
                                    background-color: #000;
                                    transform: translate(-50%, -50%);
                                    &:hover, &.active {
                                        padding: 5px 20px;
                                        border-radius: 30px;
                                        span {
                                            &:nth-of-type(1) {
                                                width: 100%;height: 100%;
                                                opacity: 1;
                                            }
                                        }
                                    }
                                    span {
                                        line-height: 1;
                                        display: inline-block;
                                        &:nth-of-type(1) {
                                            width: 0; height: 0; opacity: 0;
                                            color: #fff;
                                            font-size: 16px;
                                            font-weight: bold;
                                            line-height: 1.38;
                                        }
                                        &:nth-of-type(2) {
                                            @include flexCenter;
                                            $wh : 32px;
                                            width:$wh;max-width:$wh;
                                            min-width: $wh; min-height: $wh;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.ms_02 {
                    @include fixed-layout_1920;
                    overflow: hidden;
                    margin: 120px auto;
                    article {
                        > div {
                            display: flex; align-items: center;
                            gap: 180px;
                            .swiper-container {
                                .swiper-wrapper {
                                }
                            }
                            .product_wrap {
                                width: 100%;
                                max-width: 1160px;
                                figure.swiper-slide{
                                    @include transition(width 1s);
                                    width: 400px;
                                    figcaption {
                                        margin-top: 15px;
                                        @include hidaFont_16;
                                    }
                                    &:last-child {
                                        &::before {
                                            @include transition(all .15s);
                                            content: '';
                                            position: absolute; right: 0; top: 0;
                                            width: 100%; height: 100%;
                                            background: linear-gradient(to left, #fff, rgba(204, 204, 204, 0))
                                        }
                                    }
                                }
                            }

                            &.top {
                                margin-bottom: 80px;
                                .swiper-container {
                                    &.mo_1470 {display: none;}
                                    margin: 0;
                                    .swiper-wrapper {
                                        .swiper-slide {
                                            &:last-child {
                                                &::before {
                                                    background: linear-gradient(to right, #fff, rgba(204, 204, 204, 0))
                                                }
                                            }
                                            figcaption {
                                                text-align: left;
                                            }
                                        }
                                    }

                                }
                                
                                
                            }
                            &.bottom {
                                @include paddingLeft_10;
                                .swiper-slide {
                              
                                    
                                }
                            }
                            
                            .text_wrap {
                                width: 100%;
                                h2 {@include hidaFont_50;}
                                p {@include hidaFont_16;}
                            }

                        }
                        
                    }

                }

                &.ms_03 {
                    background-color: #e7e7e9;
                    article {
                        @include fixed-layout_1920;
                        @include paddingLeft_10();

                        .box {
                            position: relative;
                            display: flex; justify-content: space-between;
                            height: 100vh;
                            overflow: hidden;

                            .text_wrap {
                                display: flex; align-items: center; justify-content: center;flex-direction: column;
                                min-width: 500px;
                                height: 100%;
                                h2 {@include hidaFont_50;}
                                p {
                                    @include hidaFont_16;color: #666;
                                    margin-top: 16px;
                                }
                            }
                            
                            .img_wrap {
                                position: relative;
                                display: flex; flex-direction: column; align-items: center;
                                width: 100%;
                                max-width: 960px;
                                background-color: #e7e7e9;


                                img {object-fit: contain;}
                                &.img_01 {
                                    img {
                                        position: absolute; left: 50%; top: 50%;
                                        transform: translateX(-50%) translateY(-50%);
                                        &:nth-child(1) {z-index: 1;}
                                    }
                                }
                                &.img_02 {
                                    img {
                                        position: absolute; left: 50%; top: 50%;
                                        transform: translateX(-50%) translateY(-50%);
                                        // &:not(:first-child) {opacity: 0;}
                                        // &:nth-child(1) {margin-top: 200px;}
                                        // &:nth-child(2) {margin-top: 400px;}
                                        &:nth-child(1) {
                                            z-index: 2;
                                        }
                                        &:nth-child(3), &:nth-child(4) {
                                            position: relative;
                                            top: 100%;
                                            left: unset; right: 0; transform: unset;
                                        }
                                        &:nth-child(3) {
                                            margin-right: auto; margin-left: 0;
                                        }
                                        &:nth-child(4) {
                                            margin-top: 150px;
                                            margin-left: auto; margin-right: 0;
                                        }
                                    }
                                }
                                &.img_03 {
                                    img {
                                        position: absolute;
                                        // &:not(:nth-child(3)) {top: 100%;}
                                        &:nth-child(1) {left: unset; right: 0; bottom: -100vh;}
                                        &:nth-child(2) {left: 0; bottom: -100vh;}
                                        &:nth-child(3) {top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
                                        &:nth-child(4) {bottom: -100vh; right: 0;}

                                    }

                                    // img {
                                    //     &:nth-child(1) {margin-top: 200px;}
                                    //     &:nth-child(2) {margin-top: 400px;}
                                    //     &:nth-child(3) {margin-top: 150px;}
                                    //     &:nth-child(4) {margin-top: 150px;}
                                    // }
                                }
                            }
                        }
                        
                    }
                }

                &.ms_04 {
                    @include fixed-layout_1920;
                    background-color: #fff;
                    article {
                        padding: 205px 0 0 0;
                        @include paddingLeft_10();
                        display: flex; justify-content: space-between;
                        .left { 
                            display: flex; flex-direction: column;
                            h2 {
                                @include hidaFont_50;
                            }
                            p {
                                @include hidaFont_50;
                                margin-top: 40px;
                                span {
                                    margin-top: 10px;
                                    display: block;
                                    @include hidaFont_16; color: #666;
                                }
                            }
                            ul {
                                display: flex; flex-direction:  column; gap: 16px 0;
                                margin-top: 50px;
                                li {
                                    a {
                                        position: relative;
                                        @include hidaFont_16; color: #999;
                                        &::after, &::before {
                                            content: '';
                                            position: absolute;
                                            @include transition(all .15s);
                                        }
                                        &::after {
                                            left: 0; bottom: 0;
                                            width: 0; height: 1px; background-color: #000;
                                        }
                                        &::before {
                                            opacity: 0;
                                            width: 8px; height: 8px;
                                            left: calc(100% + 10px); top: 50%;
                                            transform: translateY(-50%);
                                            background: url('../images/common/ico_arrow_01.svg') no-repeat center/cover;
                                        }
                                        &.active, &:hover {
                                            color: #000;
                                            &::after {
                                                width: 100%;
                                            }
                                            &::before {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .right {
                            max-width: 980px;
                            > div {
                                position: relative;
                                display: none; flex-wrap: wrap; gap: 8px;
                                &.active {display: flex;}
                                &::after {
                                    @include hidagradient_01;
                                    content: '';
                                    position: absolute;
                            
                                    height: 20%;
                                }
                                > a {
                                    width: 189px; height: 189px;
                                }
                            }
                        }
                        .mo_tab {
                            display: flex; flex-direction:  column; gap: 16px 0;
                            display: none;
                            margin-top: 50px;
                            li {
                                a {
                                }
                            }
                        }

                    }
                }
            }
        }
        
        &.sub_page {
            
            .sec_tit {
                position: relative;
                display: flex; justify-content: space-between; align-items: center;
                padding: 0 0 8px 0;
                border-bottom: 2px solid #000;
                h2 {@include hidaFont_subtit;}
            }
            
            &#member {
                @include marginTop-200;
                max-width: 600px; 

                // default
                .layout_box {
                    display: none;
                    &.active {display: block;}
                    .con_tit {
                        margin: 50px 0 0 0;
                        @include hidaFont_membertit;
                    }
                }
                input{
                    padding: 13px 20px;
                    border: 2px solid #e5e5e5;
                    &::placeholder {font-size: 14px;line-height: 1.43;letter-spacing: -0.28px;color: #999;}
                }
                .sec_tit {
                    #user_lang {
                        display: flex; 
                        li {
                            cursor: pointer;
                            position: relative;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 1.5;
                            letter-spacing: -0.36px;
                            opacity: .2;
                            &:first-child{margin-right: 15px;}
                            &.active {opacity: 1;
                                &::after {
                                    content: '';
                                    position: absolute; left: 0; bottom: 0;
                                    width: 100%; height: 2px; background-color: #000;
                                }
                            }
                        }
                    }
                }

                .member_footer {
                    // 공통 SNS 로그인, 회원가입
                    margin: 50px 0 0 0;
                    padding: 30px 0 0 0;
                    border-top: 1px solid #e5e5e5;
                    .sns_login {display: flex; justify-content: center; gap: 16px;}
                    .btn_sign {
                        @include font-openSans;
                        margin: 30px 0 0 0;
                        padding: 13px 20px;
                        border: 1px solid #000;
                        font-size: 15px;
                        font-weight: bold;
                        letter-spacing: -0.3px;
                        text-align: center;
                    }
                                
                } 
                .btn_submit {margin: 50px 0 0 0; background-color: #000; color: #fff; @include font-openSans; border: none; cursor: pointer;}
                textline {text-decoration: underline;}
                // default

                .login {
                    article {
                        .content {
                            .input_wrap {
                                margin: 30px 0 0 0;
                                label {
                                    display: block;
                                    margin: 0 0 10px 0;
                                    &:last-child {margin: 0;}
                                } 
                            }
                            .option_wrap {
                                display: flex; justify-content: space-between; align-items: center;
                                margin: 40px 0 0 0;
                                input {display: none;}
                                label {
                                    input:checked + .checkbox {background-color: #000; }
                                    input:checked + span {color: #000; }
                                    .checkbox {margin-right: 10px; }
                                }
                                label, a {
                                    font-size: 15px;
                                    line-height: 1.33;
                                    letter-spacing: -0.3px;
                                    color: #999;
                                }
                            }
                        }



                    }
                }

                .join {
                    article {
                        .content {
                            .input_wrap {
                                margin: 30px 0 0 0;
                                label {
                                    display: block;
                                    margin: 0 0 10px 0;
                                    &:last-child {margin: 0;}
                                } 
                            }

                            .option_wrap {
                                margin: 50px 0 0 0;
                                padding: 50px 0 0 0;
                                border-top: 1px solid #e5e5e5;
                                h2 {
                                    margin: 0 0 30px 0;
                                    font-size: 15px;
                                    line-height: 1.33;
                                    letter-spacing: -0.3px;
                                }
                                label {
                                    margin: 0 0 16px 0;
                                    display: block;
                                    font-size: 15px;
                                    line-height: 1.33;
                                    letter-spacing: -0.3px;
                                    color: #999;
                                    input {display: none;}
                                    input:checked + .checkbox {background-color: #000; }
                                    input:checked ~ span {color: #000;}

                                    .checkbox {margin-right: 10px; }
                                    em {
                                        display: block;
                                        margin: 6px 0 0 32px;
                                        font-size: 14px;
                                        line-height: 1.43;
                                        letter-spacing: -0.28px;
                                        color: #9dade2;
                                    }

                                    &:last-child{margin: 0 0 0 0;}
                                }
                            }
                        }
                    }
                }
            }

            &#cmf_library {
                @include marginTop-200;
                @include fixed-layout_1412;

                .sec_tit {
                    position: sticky; top: 70px; z-index: 10;
                    display: flex; flex-wrap: wrap;;
                    // backdrop-filter: blur(4px);
                    background-color: rgba(255,255,255,0.5);
                    
                    .default_tab {
                        display: flex; justify-content: space-between;
                        width: 100%;
                        white-space: nowrap;
                        overflow: auto;
                        &::-webkit-scrollbar {display: none}
                        #sec_tab {
                            display: flex; align-items: center; 
                            li {
                                cursor: pointer;
                                display: flex; align-items: center;
                                margin-right: 30px; 
                                font-size: 15px;
                                line-height: 1.33;
                                letter-spacing: -0.3px;
                                color: #000;
                                &:last-child {margin: 0;}
                                img {margin-right: 10px;}
                            }
                        }
                    }
                    .mo_tab {
                        display: none;
                    }
                    #hidden_tab {
                        width: 100%;
                        position: absolute; left: 0; top: calc(100% + 2px); 
                        background-color: #fff;

                        .selected_tab {
                            &.active {display: flex;}
                            display: none;
                            flex-wrap: wrap; gap: 10px;
                            padding: 10px 20px;
                            border-bottom: 1px solid #f1f1f1;
                            label {
                                cursor: pointer;
                                padding: 5px 30px 5px 15px;
                                display: block;
                                border-radius: 2px; border: solid 1px #ddd;
                                input {display: none;}
                                i {display: none;}
                                span {
                                    @include flexCenter;
                                    position: relative;
                                    min-width: 24px; min-height: 24px; border-radius: 2px;
                                    font-size: 14px;
                                    line-height: 1.43;
                                    letter-spacing: -0.28px;
                                    &::after {
                                        content: '';
                                        position: absolute; left: calc(100%); top: 50%; transform: translateY(-50%);
                                        background: url('../images/common/ico_remove_01.svg')no-repeat center;
                                        width: 6px; height: 6px;
                                        margin-left: 10px;
                                    }
                                }
                                // search_color[]만
                                input + span{border: 1px solid #ddd;}
                            }

                        }
                        form[name=search_frm] {
                            display: none;
                            &.active { display: block; }
                            .filter_tab {
                                
                                .filter_tab_mo {display: none;}
                                .filter_wrap {
                                    padding: 0 30px 20px;
                                    display: flex; flex-wrap: wrap; gap: 20px;
                                    border-bottom: 2px solid #000;
                                    
                                    .w_180 {max-width: 180px; width: 100%;}
                                    .w_380 {max-width: 380px; width: 100%;}
                                    .mo_filter_state {display: none;}
                                    dl {
                                        dt{
                                            font-size: 14px;
                                            line-height: 4.07;
                                            letter-spacing: -0.28px;
                                            border-bottom: 1px solid #e5e5e5;
                                        }
                                        dd{
                                            margin-top: 20px;
                                            label {cursor: pointer;}
                                            &.color_wrap {
                                                display: flex; flex-wrap: wrap; gap: 10px; 
                                                label {
                                                    position: relative;
                                                    display: inline-block;                                                                                                                                                            
                                                    input{display: none;}
                                                    span {
                                                        position: relative;
                                                        display: block;
                                                        $wh: 24px; width: $wh; height: $wh;
                                                        border: solid 1px #d9d9d9;
                                                        border-radius: 2px;
                                                        &::after {
                                                            content: '';
                                                            @include absolute-center; z-index: 3;
                                                            filter: invert(100%);
                                                            opacity: 0;
                                                            width: 6px; height: 6px;
                                                            background: url('../images/common/ico_checked_01.svg')no-repeat center/cover;
                                                        }
                                                    }
                                                    input:checked + span::after {opacity: 1;}
                                                    input:checked + span {border-color: #000;}
                                                    
                                                    // &::after {
                                                    //     content: '';
                                                    //     opacity: 0;
                                                    //     @include absolute-center;
                                                    //     width: 8px; height: 9px;
                                                    //     background: url('../images/common/ico_checked_01.svg')no-repeat center/contain;
                                                    // }
                                                }
                                            }
                                            &:not(.color_wrap) {
                                                display: flex; flex-wrap: wrap; gap: 8px;
                                                label {
                                                    width: 100%;
                                                    &.half {width: calc(50% - 4px);}
            
                                                    i {
                                                        margin-right: 12px;
                                                        &.checkbox {width: 16px; height: 16px;  border-radius: 2px;}
                                                    }
                                                    span {
                                                        font-size: 14px;
                                                        line-height: 1.43;
                                                        letter-spacing: -0.28px;
                                                        color: #bbb;
                                                        vertical-align: middle;
                                                    }
                                                    input {display: none;}
                                                    input:checked + i {background-color: #000;border-color: #fff;}
                                                    input:checked ~ span {color: #000;}
                                                }
                                            }
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                    form[name=save_frm] {
                        width: 100%; height: 60px;
                        position: absolute; left: 0; top: 0; z-index: 3;
                        padding: 20px;
                        background-color: #000;
                        display: none;align-items: center; justify-content: space-between;
                        &.active {display:flex; }
                        
                        p {
                            font-size: 14px;
                            letter-spacing: -0.28px;
                            color: #fff;
                            a {
                                @include font-openSans;
                                padding: 10px 20px;
                                color: #fff;
                                font-size: 15px;
                                letter-spacing: -0.3px;
                                color: #fff;
                                &.btn_save {
                                    color: #000;
                                    border-radius: 2px;
                                    background-color: #fff;
                                }
                            }
                        }
                    }

                }


                .content {
                    padding: 90px 100px 0;
                    
                    ul {
                        display: flex; flex-wrap: wrap;
                        gap: 68px 120px;
                        li {
                            position: relative;
                            width: calc(33.333333% - 80px);
                            a {
                                .ico_wrap {
                                    position: absolute; right: 0; top: 0;z-index: 1;
                                    display: flex; gap: 5px;
                                    display: none;
                                    img {
                                        opacity: .4; width: 22px;
                                    }
                                    &.save {
                                        display: block;
                                        width: 40px; height: 40px;
                                        background: url('../images/common/ico_save_02_01.svg')no-repeat center/contain;
                                        &.active {background: url('../images/common/ico_save_02_02.svg')no-repeat center/contain;}
                                    }
                                }
                                .img_wrap {
                                    position: relative;
                                    img {
                                        &.prod_thumb_bg {
                                            position: absolute;left: 0; top: 0;
                                        }
                                    }

                                }
                            }
                        }
                    }
                    .more {
                        margin-top: 120px;
                        @include flexCenter;
                        a {
                            display: inline-block;
                            padding: 13px 40px;
                            background-color: #000;

                            @include font-openSans;
                            font-size: 15px;
                            letter-spacing: -0.3px;
                            color: #fff;
                        }
                    }

                }

            }

        }
        
    } 
    
}
// ==================================== page css ====================================
// ==================================== page css ====================================
// ==================================== page css ====================================










