@import "function";


html,body {
    &.active {
        // overflow: hidden;
        width: 100%;height: 100%;
    }

}

// ====================================default css====================================
body {
    // a link hover effect
    a.a_link {@include transition(.15s);&:hover { color: $color-100; }}
    // icon
    .ico {
        display: inline-block; 
        // dots
        &.ico_01 {width: 10px; height: 10px; background-color: $color-100; border-radius: 100%} 
        &.ico_02 {width: 5px; height: 5px; background-color: $color-100; border-radius: 100%} 
    }
    /*  btn_link  */

    .arrow_01 {
        display: block;
        margin-left: 10px;
        width: 8px; height: 8px;
        border-right: 1px solid $color-100; border-top: 1px solid $color-100;
        transform: translateX(-30px) rotate(45deg); margin-bottom: 2px;
    }
    .arrow_02 {
        display: block;
        margin-left: 10px;
        width: 8px; height: 8px;
        border-right: 1px solid $color-100; border-top: 1px solid $color-100;
        transform: rotate(45deg);
    }
}
// ====================================default css====================================


// ==================================== header, footer ====================================
body {
    #header{
        position: fixed; left: 0; top: 0; z-index: 9999;
        width: 100%;
        #header_wrap {
            display: flex; align-items: center;
            padding: 0 3%;
            font-size: 15px;
            height: 70px;
            -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
            background-color: rgba(255, 255, 255, 0.5);
            #header_left {
            }

            #header_center {
                margin-left: auto;
                display: flex;
                gap: 45px;
                > li {
                    > a {

                    }
                }
            }
            

            #header_right {
                margin-left: 57px;
                display: flex;
                gap: 40px;
            }
        
            // header_ham
            .header_ham {
                display: none;
                position: relative; top: 0;
                width: 28px; height: 18px;
                cursor: pointer;
                &.active {
                    span {
                        &:nth-of-type(1) { top: calc(50% - 1px); transform: rotate(45deg); }
                        &:nth-of-type(2) { opacity: 0; transform: translateX(100%); }
                        &:nth-of-type(3) { bottom: 50%; transform: rotate(-45deg); }
                    }
                }
                span {
                    // 햄벅
                    position: absolute; left: 0; width: 22px; border-bottom: 2px solid #fff;
                    @include transition(all .3s);
                    &:nth-of-type(1) { top: 0; }
                    &:nth-of-type(2) { top: calc(50% - 1px); }
                    &:nth-of-type(3) { bottom: 0; }
                }
            }
        }
    }
    #footer {
        margin-top: 150px;
        background: #000;
        article {
            padding: 100px 0 130px;
            max-width: 1546px; margin: 0 auto;
            > div {
                &.info_01 {
                    display: flex; justify-content: space-between;
                    h2 {
                        font-size: 44px;
                        font-weight: bold;
                        line-height: 1.36;
                        letter-spacing: -0.88px;
                        color: #fff;
                    }

                    form {
                        height: 55px;
                        > input {height: 100%;border: none;color: #fff;}
                        input[type=email] {
                            padding: 0 20px;
                            background-color: #111;
                            font-size: 18px;
                            line-height: 1.5;
                            letter-spacing: -0.36px;
                        }
                        input[type=submit] {
                            background-color: #222;
                            padding: 0 30px;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 1.5;
                            letter-spacing: -0.4px;
                        }
                    }
                    ul {
                        margin-top: 40px;
                        color: #fff;
                        li {
                            display: flex; flex-wrap: wrap; gap: 10px 0;
                            a {
                                @include hidaFont_16;
                                &:nth-child(odd) {width: 30%;}
                                &:nth-child(even) {width: 70%;}
                                font-weight: bold;
                                line-height: 1.5;
                                letter-spacing: -0.32px;
                                color: #fff;
                            }
                        }
                    }

                }
                &.info_02 {
                    margin-top: 50px;
                    nav {
                        &:first-child {
                            a {
                                @include hidaFont_16; font-weight: bold;
                                color: #fff;
                            }
                        }
                        &:last-child {
                            margin-top: 16px;
                            display: flex;  gap: 20px;
                            p {
                                @include hidaFont_14;
                                position: relative;
                                color: #666;
                                &:last-child {&::after{display: none;}}
                                &::after {
                                    content: '';
                                    position: absolute; right: -10px; top: 50%; transform: translateY(-50%);
                                    width: 1px; height: 14px;
                                    background-color: #3a3a3a;
                                }
                            }
                        }
                    }
                }
                &.bar {
                    width: 100%; height: 1px;
                    background-color: #666;
                    margin: 30px 0;
                }
                &.info_03 {
                    display: flex; justify-content: space-between;
                    > p {
                        @include hidaFont_14;
                        color: #666;
                    }
                    .nice {
                        position: relative;
                        @include hidaFont_14;
                        appearance: none;
                        width: 170px;
                        padding-bottom: 7px;
                        color: #fff;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid #fff;
                        .list {width: 100%;}
                        .option {
                            background-color: #000;
                            border: none;
                            border-bottom: 1px solid #fff;
                            color: #fff;
                            padding: 10px 0;
                        }
                        &::after {
                            border: none;
                            content: '';
                            width: 11px; height: 11px;
                            position: absolute; right: 0; bottom: 50%;
                            background: url('../images/common/ico_plus_01.svg')no-repeat center/contain;
                        }
                    }


                }
            }

        }
    }
}
// ==================================== header, footer ====================================




// ==================================== page css ====================================
// ==================================== page css ====================================
// ==================================== page css ====================================
@mixin paddingLeft_10 {
    padding-left: 10.5%;
}


body {
    // opacity: 0;
    main {
        // INDEX MAIN
        &#main_page {
            .ms {
                position: relative;z-index: 3;
                overflow: hidden;
                &.ms_01.swiper-container {
                    .swiper-pagination {
                        margin-top: 50px;
                        display: flex; 
                        gap: 4px;
                        .swiper-pagination-bullet {
                            @include transition(all .15s);
                            $bulletWh : 8px;
                            width: $bulletWh; height: $bulletWh; border-radius: 0;
                            background-color: #000;
                            &.swiper-pagination-bullet-active {
                                width: 25px;
                            }
                        }
                    }
                    .swiper-wrapper {
                        height: 100vh;
                        .swiper-slide {
                            position: relative;
                            @include fullsize;
                            display: flex; justify-content: center; flex-direction: column;

                            figcaption {
                                @include paddingLeft_10;
                                p {
                                    &.text_01 {
                                        @include hidaFont_50;
                                    }
                                    &.text_02 {
                                        margin-top: 15px;
                                        @include hidaFont_16;
                                        color: #666;
                                    }
                                }
                            }

                            .point_xy {
                                position: absolute; left: 0; top: 0;
                                width: 100%; height: 100%;
                                > a {
                                    display: flex; align-items: center;
                                    border-radius: 100%;
                                    position: absolute;
                                    overflow: hidden;
                                    background-color: #000;
                                    transform: translate(-50%, -50%);
                                    &:hover, &.active {
                                        padding: 5px 20px;
                                        border-radius: 30px;
                                        span {
                                            &:nth-of-type(1) {
                                                width: 100%;height: 100%;
                                                opacity: 1;
                                            }
                                        }
                                    }
                                    span {
                                        line-height: 1;
                                        display: inline-block;
                                        &:nth-of-type(1) {
                                            width: 0; height: 0; opacity: 0;
                                            color: #fff;
                                            font-size: 16px;
                                            font-weight: bold;
                                            line-height: 1.38;
                                        }
                                        &:nth-of-type(2) {
                                            @include flexCenter;
                                            $wh : 32px;
                                            width:$wh;max-width:$wh;
                                            min-width: $wh; min-height: $wh;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.ms_02 {
                    @include fixed-layout_1920;
                    overflow: hidden;
                    margin: 120px auto;
                    article {
                        > div {
                            display: flex; align-items: center;
                            gap: 180px;
                            .swiper-container {
                                .swiper-wrapper {
                                }
                            }
                            .product_wrap {
                                width: 100%;
                                max-width: 1160px;
                                figure.swiper-slide{
                                    @include transition(width 1s);
                                    width: 400px;
                                    figcaption {
                                        margin-top: 15px;
                                        @include hidaFont_16;
                                    }
                                    &:last-child {
                                        &::before {
                                            @include transition(all .15s);
                                            content: '';
                                            position: absolute; right: 0; top: 0;
                                            width: 100%; height: 100%;
                                            background: linear-gradient(to left, #fff, rgba(204, 204, 204, 0))
                                        }
                                    }
                                }
                            }

                            &.top {
                                margin-bottom: 80px;
                                .swiper-container {
                                    &.mo_1470 {display: none;}
                                    margin: 0;
                                    .swiper-wrapper {
                                        .swiper-slide {
                                            &:last-child {
                                                &::before {
                                                    background: linear-gradient(to right, #fff, rgba(204, 204, 204, 0))
                                                }
                                            }
                                            figcaption {
                                                text-align: left;
                                            }
                                        }
                                    }

                                }
                                
                                
                            }
                            &.bottom {
                                @include paddingLeft_10;
                                .swiper-slide {
                              
                                    
                                }
                            }
                            
                            .text_wrap {
                                width: 100%;
                                h2 {@include hidaFont_50;}
                                p {@include hidaFont_16;}
                            }

                        }
                        
                    }

                }

                &.ms_03 {
                    background-color: #e7e7e9;
                    article {
                        @include fixed-layout_1920;
                        @include paddingLeft_10();

                        .box {
                            position: relative;
                            display: flex; justify-content: space-between;
                            height: 100vh;
                            overflow: hidden;

                            .text_wrap {
                                display: flex; align-items: center; justify-content: center;flex-direction: column;
                                min-width: 500px;
                                height: 100%;
                                h2 {@include hidaFont_50;}
                                p {
                                    @include hidaFont_16;color: #666;
                                    margin-top: 16px;
                                }
                            }
                            
                            .img_wrap {
                                position: relative;
                                display: flex; flex-direction: column; align-items: center;
                                width: 100%;
                                max-width: 960px;

                                img {object-fit: contain;}
                                &.img_01 {
                                    img {
                                        position: absolute; left: 50%; top: 50%;
                                        transform: translateX(-50%) translateY(-50%);
                                        &:nth-child(1) {z-index: 1;}
                                    }
                                }
                                &.img_02 {
                                    img {
                                        position: absolute; left: 50%; top: 50%;
                                        transform: translateX(-50%) translateY(-50%);
                                        // &:not(:first-child) {opacity: 0;}
                                        // &:nth-child(1) {margin-top: 200px;}
                                        // &:nth-child(2) {margin-top: 400px;}
                                        &:nth-child(1) {
                                            z-index: 2;
                                        }
                                        &:nth-child(3), &:nth-child(4) {
                                            position: relative;
                                            top: 100%;
                                            left: unset; right: 0; transform: unset;
                                        }
                                        &:nth-child(3) {
                                            margin-right: auto; margin-left: 0;
                                        }
                                        &:nth-child(4) {
                                            margin-top: 150px;
                                            margin-left: auto; margin-right: 0;
                                        }
                                    }
                                }
                                &.img_03 {
                                    img {
                                        position: absolute;
                                        // &:not(:nth-child(3)) {top: 100%;}
                                        &:nth-child(1) {left: unset; right: 0; bottom: -100vh;}
                                        &:nth-child(2) {left: 0; bottom: -100vh;}
                                        &:nth-child(3) {top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
                                        &:nth-child(4) {bottom: -100vh; right: 0;}

                                    }

                                    // img {
                                    //     &:nth-child(1) {margin-top: 200px;}
                                    //     &:nth-child(2) {margin-top: 400px;}
                                    //     &:nth-child(3) {margin-top: 150px;}
                                    //     &:nth-child(4) {margin-top: 150px;}
                                    // }
                                }
                            }
                        }
                        
                    }
                }

                &.ms_04 {
                    @include fixed-layout_1920;
                    background-color: #fff;
                    article {
                        padding: 205px 0 0 0;
                        @include paddingLeft_10();
                        display: flex; justify-content: space-between;
                        .left { 
                            display: flex; flex-direction: column;
                            h2 {
                                @include hidaFont_50;
                            }
                            p {
                                @include hidaFont_50;
                                margin-top: 40px;
                                span {
                                    margin-top: 10px;
                                    display: block;
                                    @include hidaFont_16; color: #666;
                                }
                            }
                            ul {
                                display: flex; flex-direction:  column; gap: 16px 0;
                                margin-top: 50px;
                                li {
                                    a {
                                        position: relative;
                                        @include hidaFont_16; color: #999;
                                        &::after, &::before {
                                            content: '';
                                            position: absolute;
                                            @include transition(all .15s);
                                        }
                                        &::after {
                                            left: 0; bottom: 0;
                                            width: 0; height: 1px; background-color: #000;
                                        }
                                        &::before {
                                            opacity: 0;
                                            width: 8px; height: 8px;
                                            left: calc(100% + 10px); top: 50%;
                                            transform: translateY(-50%);
                                            background: url('../images/common/ico_arrow_01.svg') no-repeat center/cover;
                                        }
                                        &.active, &:hover {
                                            color: #000;
                                            &::after {
                                                width: 100%;
                                            }
                                            &::before {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .right {
                            max-width: 980px;
                            > div {
                                position: relative;
                                display: none; flex-wrap: wrap; gap: 8px;
                                &.active {display: flex;}
                                &::after {
                                    @include hidagradient_01;
                                    content: '';
                                    position: absolute;
                            
                                    height: 20%;
                                }
                                > a {
                                    width: 189px; height: 189px;
                                }
                            }
                        }
                        .mo_tab {
                            display: flex; flex-direction:  column; gap: 16px 0;
                            display: none;
                            margin-top: 50px;
                            li {
                                a {
                                }
                            }
                        }

                    }
                }
            }
        }
        
        

        &.sub_page {
        }
        
    } 
    
}
// ==================================== page css ====================================
// ==================================== page css ====================================
// ==================================== page css ====================================










